*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;    
}

.background{
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/clinic-doctors-glass-127873.jpg);
    background-size: cover;
    background-position: center; 
    filter: blur(5px);
    position: absolute;
    left:0;
    top: 0;
}

.opac{
    height: 100vh;
    width: 100vw;
    background-color: #3981A7;
    opacity: 0.7;
    display: flex;
}

.inputboxshadow{
    height: 621px;
    width: 579px;
    background-color: #000000;
    margin: auto;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.circulo{
    height: 150px;
    width: 150px;
    border: 3px solid #FFFFFF;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 40px;
    margin-bottom: 2em;
    background-color: #FFFFFF;
}

.circulo img{
    height: 95px;
    width: 88px;
}

.inputs{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height: 12em;
    margin-bottom: 2em;
}

.inputs hr{
    width: 80%;
    height: 3px;
    margin-bottom: 1em;
    background-color: #FFFFFF;
}

.inputs span { 
    font-size: 1.3em;
}

.inputs input{
    background-color: #cccccc;
    opacity: 0.5;
    width: 60%;
    height: 20%;
    border-radius: 0.5em;
    border: none;
    margin-top: 1em;
    padding-left: 5px;
}

#input::placeholder {
    color: #212121;
}

input[type="email"]{
    color: black;
    opacity: 1;
}

input[type="password"]{
    color: black;
    opacity: 1;
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 6em;
}

.btn hr{
    width: 80%;
    background-color: #FFFFFF;
    height: 3px;
    margin-bottom: 1em;
}

.btn input {
    color: #424242;
    height: 2.5em;
    width: 8em;
    border-radius: 0.5em;
    border: none;
    font-size: 20px;
}

img {
    height: 38.368px;
    width: 38.368px;
}